body {
    overflow-x: hidden;
}
@font-face{
    font-family: "openDyslexic";
    src:url(include/OpenDyslexic-Regular.otf);
}
.jumbotron {
    padding: 100px;
}
.panel-heading {
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
}
td a {
    min-width: 80px;
    margin: 5px;
}
.center-table {
    margin: 0 auto !important;
    float: none !important;
}
.coursePanel {
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    float: none !important;
    max-width: 700px;
    padding-bottom: 5px;
}
#rightBtn {
    float: right;
    width: 200px;
    padding: 5px;
    height: 10px;
}
#rightBtn a {
    height: 150px;
}
#leftBtn {
    float: left;
    width: 200px;
    padding: 5px;
    height: 10px;
}
#leftBtn a {
    height: 150px;
}
.signature {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: "openDyslexic";
    /*SOME PRETTY AWESOME TEXT OUTLINE STUFF RIGHT HERE*/

text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
#danger{
    background-color: red !important;
}
#error panel-body{
    padding: 
}
.noClick{
    text-decoration: none;
    color: black;
}
