<div class="panel panel-primary coursePanel">
    <div class="panel-heading signature">Web Programming</div>
    <div class="btn-group-vertical" role="group" id="leftBtn">
        <a class="btn btn-primary" href="#" role="button">Assignment1</a>
    </div>
    <div class="btn-group-vertical" role="group" id="rightBtn">
        <a class="btn btn-primary" href="#" role="button">Assignment2</a>
    </div>
    <table class="center-table">
        <tbody>
            <tr>
                <td><a class="btn btn-primary" href="lab2/index.php" role="button">Lab2</a></td>
                <td><a class="btn btn-primary" href="lab3/assoc/index.html" role="button">Lab3</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab4</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="#" role="button">Lab5</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab6</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab7</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="#" role="button">Lab8</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab9</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab10</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="#" role="button">Lab11</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab12</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Lab13</a></td>
            </tr>
        </tbody>
    </table>
</div>