body {
    overflow-x: hidden;
    background: Gainsboro;
}
.showBtn{
    cursor: pointer;
}
.commentBody{
    padding:10px;
}
.post {
    overflow: hidden;
    padding-top: 10px;
}
.message {} .col-md-2 {
    max-width: 150px;
}
.glyphicon-asterisk {
    font-size: 1.5;
}
.well {
    background: AliceBlue;
}
#message {
    resize: vertical;
    max-height: 250px;
}
.navbar-brand {
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    transition: all .2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; /* Safari */
}
.navbar-brand:hover{
    transform: scale(1.5);
}
.commentImage {
    max-width: 100%;
    border: 1px solid gray;
}
.newPost {
    position: fixed;
    margin-top: 25px;
}
.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}
.inputGroup {
    margin-bottom: 10px;
}
#navBtn1 {
    border-left: 1px solid white;//gives rightmost button (home) a nice little seperator
}
//Bootstrap stuff for different screen sizes
/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {}
/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {}