nav{
    padding-right:10px;
}
nav label{
    padding-left:5px;
}
.signUpForm{
    position:relative;
    margin-left:10px;
    min-width:400px;
    min-height:400px;
}
nav .btn{
    margin-left:10px;
}
.wall{
    position:relative;
    min-height:800px;
}
.showBtn{
    cursor:pointer;
}
.searchBar{
    max-width:150px;
}
.searchBar:focus + #results{
    display:block;
    
}
#results{
    margin-top:60px;
    min-height:200px;
    min-width:400px;
    position:absolute;
	display:none;
}
#results:hover{
    display:block;
    
}
.arrow_box {
	background: LightSteelBlue;
	border: 2px solid #88b7d5;
	border-top-left-radius:5px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: LightSteelBlue;
	border-width: 20px;
	margin-left: -195px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 23px;
	margin-left: -198px;
}
.ico-mglass {
    margin-left:-5px;
    position:relative;
    display:inline-block;
    border-radius: 30px;
    height: 16px;
    width: 16px;
    border: 2px solid black;
}
.ico-mglass:after {
    content: "";
    height: 5px;
    width: 11px;
    background: black;
    position:absolute;
    top:12px;
    left:10px;
    -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
.match{
    background:GhostWhite;
}
body{
    overflow-x:hidden;
}
#profilePanel{
    margin-left:-20px;
}
/*MATRIX SHIT*/
#matx{ background: #000; height:1000px; } @-webkit-keyframes fading{ 0%   { opacity: 1; } 100% { opacity: 0; } } @-webkit-keyframes falling{ from {top: -500px;} to  {top: 100%;} }
.matrixSymbol{ color: rgba(0, 255, 0, .7); text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px; position: absolute; top: 0; text-transform: lowercase; -webkit-transform:rotate(90deg); -webkit-animation-name: falling, fading; -webkit-animation-timing-function: ease-out; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: normal; } .t1{ -webkit-animation-duration: 2s; } .t2{ -webkit-animation-duration: 3s; } .t3{ -webkit-animation-duration: 4s; } .t4{ -webkit-animation-duration: 2.5s; } .t5{ -webkit-animation-duration: 3.5s; } .t6{ -webkit-animation-duration: 4.8s; } .t7{ -webkit-animation-duration: 3.5s; } .t8{ -webkit-animation-duration: 2.2s; } .t9{ -webkit-animation-duration: 1.5s; } .t10{ -webkit-animation-duration: 4.8s; }

